<div class="ui form">
  <div class="field">
    <label>Cash</label>
    <input type="number" placeholder="Cash" />
  </div>
  <div class="field">
    <label>Cash</label>
    <input type="number" placeholder="Cash" />
  </div>
  <div class="field">
    <label>Jio Balance</label>
    <input type="number" placeholder="Jio Balance" />
  </div>
  <div class="field">
    <label>Bandhan Bank</label>
    <input type="number" placeholder="Bandhan Bank" />
  </div>
  <div class="field">
    <label>Credits</label>
    <input type="number" placeholder="Credits" />
  </div>
  <div class="ui divider"></div>
  <button class="ui button">Discard</button>
  <button class="ui primary button">Save</button>
</div>
