<div class="ui segments container">
  <div class="ui top attached tabular menu">
    <a
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="item"
      data-tab="first"
      >Records</a
    >
    <a
      routerLink="updates"
      routerLinkActive="active"
      class="item"
      data-tab="second"
      >Update</a
    >
    <a
      routerLink="profits"
      routerLinkActive="active"
      class="item"
      data-tab="third"
      >Profit</a
    >
  </div>
  <div class="ui bottom attached tab segment" data-tab="first">
    <router-outlet></router-outlet>
  </div>
  <div class="ui bottom attached tab segment" data-tab="second">
    <router-outlet></router-outlet>
  </div>
  <div class="ui bottom attached tab active" data-tab="third">
    <router-outlet></router-outlet>
  </div>
</div>
