<table class="ui celled table">
  <thead>
    <tr>
      <th>Cash</th>
      <th>Jio Balance</th>
      <th>Bandhan Bank</th>
      <th>Credits</th>
      <th>Total</th>
      <th>Profits</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Cash">James</td>
      <td data-label="Jio Balance">24</td>
      <td data-label="Bandhan Bank">Engineer</td>
      <td data-label="Credits">James</td>
      <td data-label="Total">24</td>
      <td data-label="Profits">Engineer</td>
      <td data-label="Profits">10-02-2021 12:21</td>
    </tr>
  </tbody>
</table>
